# Regresión Lineal

In [7]:
# Importamos la libreria pandas
import pandas as pd
# Importamos la libreria numpy
import numpy as np

# Carga del dataset
El dataset cuenta con 414 instancias, posee una variable de salida Y, que depende de 6 variables de entrada para poder predecir el precio de una casa.

In [8]:
#url dataset
url='https://raw.githubusercontent.com/sfbarragan/RegresionLineal/master/Real%20estate.csv'
#cargar datos en base a la url del dataset
df=pd.read_csv(url)

In [9]:
#visualización de los 10 primeros datos
df.head(10)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
5,6,2012.667,7.1,2175.03000,3,24.96305,121.51254,32.1
6,7,2012.667,34.5,623.47310,7,24.97933,121.53642,40.3
7,8,2013.417,20.3,287.60250,6,24.98042,121.54228,46.7
8,9,2013.500,31.7,5512.03800,1,24.95095,121.48458,18.8
9,10,2013.417,17.9,1783.18000,3,24.96731,121.51486,22.1

In [6]:
#desplegar la descripción del dataset
df.describe()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,207.500000,2013.148971,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,119.655756,0.281967,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,1.000000,2012.667000,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,104.250000,2012.917000,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,207.500000,2013.167000,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,310.750000,2013.417000,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,414.000000,2013.583000,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

# Descripción de la fuente del Dataset

El dataset contiene la información de 414 casas pertenecientes a una misma zona. Dicho dataset contiene 7 atributos, incluida una característica de clase (objetivo) que indica el precio de la casa. El significado comercial de cada columna (atributo) en los datos es el siguiente:

**Variable Y**<br>
**House price of unit area:** Continuo. Precio de la vivienda por unidad de superficie local (NewTaipei Dollar $10000 por 3,3 metros cuadrados)<br>

**Variables Independientes**<br>

**Transaction date:** Fecha de transacción<br>
**House age:** La edad de la casa en años<br>
**Fistance to neares MRT station:** la distancia a la estación de metro más cercana en metros.<br>
**Number of convenience stores:** el número de tiendas de conveniencia a las que se puede acceder a pie.<br>
**Latitude:** coordenadas de latitud.<br>
**Longitude:** coordenadas de longitud.<br>

# Problema a resolver

Se requiere crear un modelo de aprendizaje automático que permita predecir el precio adecuado de una casa en función de sus especificaciones. Para lo cuál se utilizara el dataset descrito en el apartado anterior, el cuál contiene 414 registros. Donde, la variable objetivo se denomina **"House price of unit area"**. Existen 6 variables de entrada llamadas: **Transaction date, House age, Fistance to neares MRT station, Number of convenience stores, Latitude y Longitude**

# Caracterización del Dataset

# Número de instancias en total

In [10]:
# Contamos los registros del dataset
df.count()

No                                        414
X1 transaction date                       414
X2 house age                              414
X3 distance to the nearest MRT station    414
X4 number of convenience stores           414
X5 latitude                               414
X6 longitude                              414
Y house price of unit area                414
dtype: int64

# Número de atributos de entrada, su significado y tipo.


**Transaction date:** Continuo. Fecha de transacción<br>
**House age:** Continuo. La edad de la casa en años<br>
**Fistance to neares MRT station:**Continuo. la distancia a la estación de metro más cercana en metros.<br>
**Number of convenience stores:** el número de tiendas de conveniencia a las que se puede acceder a pie.<br>
**Latitude:** coordenadas de latitud.<br>
**Longitude:** coordenadas de longitud.<br>